type tcmd, domain;
type tcmd_exec, exec_type, file_type;
init_daemon_domain(tcmd);

allow tcmd default_prop:property_service set;
allow tcmd property_socket:sock_file write;
allow tcmd self:capability setuid;
allow tcmd self:netlink_route_socket create;
allow tcmd self:tcp_socket { create ioctl };
allow tcmd self:capability net_raw;
allow tcmd self:netlink_route_socket { setopt bind read };
allow tcmd init:unix_stream_socket connectto;
